.cont {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    background-color: rgb(228, 227, 227);
}

.cont>div{
    box-shadow: 5px 5px 5px #d4cdcd;
}

.img-cont img{
    width:16rem;
    border-radius: 10px 0px 0px 10px;
    height: 24rem;
}

.form-cont {
    padding-right: 22px;
    padding-top:1.1rem;
    border-radius: 0px 10px 10px 0px;
    width: 18rem;
    background-color: rgb(249, 249, 249);
    height: 24rem;
    padding-left: 22px;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 2.3rem !important;
    font-weight: 600;
    color: rgb(58, 55, 55);
}

.page-button {
    border: none;
    background-color: rgb(63, 62, 62);
    margin-bottom: 7px;
}

.form-inp {
    color: rgb(83, 79, 79) !important;
    font-size: .9rem;
}

